@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap");
body,
html {
  height: 100%;
  margin: 0;
  font-family: 'Mulish', sans-serif;
  background-color: #f7f9f9;
}

.homeSwiper {
  width: 100%;
  height: 100%;
}

.banner {
  background-image: url("../img/VINFAST - Future of Mobility.png");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 47.32px 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-content img {
  margin-bottom: 16.83px;
}

.banner-content .title {
  font-weight: 300;
  font-size: 72px;
  line-height: 80px;
  color: #3c3c3c;
  margin: 0 0 30px 0;
  color: #1464f4;
  text-align: center;
  padding: 0 250px;
}

.banner-content .price {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 64px;
}

.banner-content button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  font-family: 'Mulish', sans-serif;
  font-size: 12px;
  line-height: 20.08px;
  letter-spacing: 1.2px;
  font-weight: 700;
  text-transform: uppercase;
  color: #1464f4;
  padding: 16.5px 113.5px;
  border: none;
  outline: none;
  border-radius: 3px;
}

.banner-content button span {
  font-size: 16px;
}

.cars {
  padding: 48px 30px;
  height: 100vh;
}

.cars-nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 96px;
}

.cars-nav .nav-link {
  color: #1464f4;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20.08px;
  letter-spacing: 1.6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cars-nav .nav-link.active {
  background-color: unset !important;
  color: #1464f4;
}

.cars-nav .nav-link.active svg path {
  stroke: #1464f4;
}

.cars-nav .nav-link svg {
  margin-left: 8px;
}

.cars-nav .nav-link svg path {
  stroke: transparent;
}

.cars .tab-content .car-item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.cars .tab-content .car-item img {
  margin-top: 10px;
  margin-left: 36px;
  width: 70%;
}

.cars .tab-content .car-item .car-item-content {
  margin-left: 78.5px;
}

.cars .tab-content .car-item .car-item-content .car-slogan {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #3c3c3c;
  margin-bottom: 8px;
}

.cars .tab-content .car-item .car-item-content .car-name {
  font-size: 48px;
  line-height: 60.24px;
  letter-spacing: -0.96px;
  font-weight: 300;
  margin-bottom: 30px;
}

.cars .tab-content .car-item .car-item-content .car-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  margin-bottom: 30px;
}

.cars .tab-content .car-item .car-item-content .car-info-item span {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 8px;
  color: #3c3c3c;
}

.cars .tab-content .car-item .car-item-content .car-info-item h4 {
  font-weight: 300;
  font-size: 20px;
  line-height: 25.1px;
  color: #3c3c3c;
}

.cars .tab-content .car-item .car-item-content .car-price {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3c3c3c;
  margin-bottom: 30px;
}

.cars .tab-content .car-item .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cars .tab-content .car-item .buttons button {
  width: 100%;
  border: none;
  outline: none;
  font-size: 12px;
  letter-spacing: 1.2px;
  font-weight: 700;
  line-height: 15.06px;
  text-transform: uppercase;
  border-radius: 3px;
}

.cars .tab-content .car-item .buttons .deposit-button {
  padding: 16.5px;
  width: 60%;
  white-space: nowrap;
  background-color: #1464f4;
  color: #ffffff;
}

.cars .tab-content .car-item .buttons .deposit-button:hover {
  background-color: #0069d9;
}

.cars .tab-content .car-item .buttons .detail-button {
  width: 35%;
  padding: 16.5px 0;
  background-color: transparent;
  white-space: nowrap;
  color: #1464f4;
}

.bikes .tab-content .bike-item img {
  margin-bottom: 24px;
}

.bikes .tab-content .bike-item-content .bike-name {
  text-transform: uppercase;
  font-size: 48px;
  line-height: 60.24px;
  font-weight: 300;
  letter-spacing: -0.96px;
  margin-bottom: 30px;
}

.bikes .tab-content .bike-item-content .bike-info {
  margin-bottom: 30px;
}

.bikes .tab-content .bike-item-content .bike-info span {
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
}

.bikes .tab-content .bike-item-content .bike-info .title {
  color: #8a8a8a;
  margin-bottom: 8px;
}

.bikes .tab-content .bike-item-content .bike-info .subtitle {
  color: #3c3c3c;
}

.bikes .tab-content .bike-item-content .bike-price {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #3c3c3c;
  margin-bottom: 30px;
}

.bikes .tab-content .bike-item .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bikes .tab-content .bike-item .buttons button {
  width: 100%;
  border: none;
  outline: none;
  font-size: 12px;
  letter-spacing: 1.2px;
  font-weight: 700;
  line-height: 15.06px;
  text-transform: uppercase;
  border-radius: 3px;
}

.bikes .tab-content .bike-item .buttons .deposit-button {
  padding: 16.5px;
  width: 60%;
  white-space: nowrap;
  background-color: #ffffff;
  border: 1px solid #1464f4;
  color: #1464f4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.bikes .tab-content .bike-item .buttons .deposit-button:hover {
  background-color: #1464f4;
  color: #ffffff;
}

.bikes .tab-content .bike-item .buttons .detail-button {
  width: 35%;
  padding: 16.5px 0;
  background-color: transparent;
  white-space: nowrap;
  color: #1464f4;
}

.battery-deposit {
  background-image: url("../img/bao-duong.png");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  padding: 48px 0 0 30px;
}

.battery-deposit-content {
  width: 40%;
  margin-bottom: 96px;
}

.battery-deposit-content .title {
  font-size: 48px;
  font-weight: 300;
  line-height: 60.24px;
  letter-spacing: -0.96px;
  margin-bottom: 16px;
}

.battery-deposit-content .subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.battery-deposit-warranty .title,
.battery-deposit .maintain-booking .title {
  font-size: 24px;
  font-weight: 600;
  line-height: 30.12px;
  margin-bottom: 8px;
}

.battery-deposit-warranty .subtitle,
.battery-deposit .maintain-booking .subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
}

.battery-deposit-warranty button,
.battery-deposit .maintain-booking button {
  font-size: 12px;
  line-height: 15.06px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #ffffff;
  color: #1464f4;
  border-radius: 3px;
  border: none;
  outline: none;
  width: 236px;
  padding: 16px 0;
}

.battery-deposit-warranty {
  margin-bottom: 48px;
}

.charging-station {
  height: 100vh;
  position: relative;
}

.charging-station .chargingSwiper {
  height: 100%;
}

.charging-station-item {
  height: 100%;
}

.charging-station-item img {
  height: 100%;
  width: 100%;
}

.charging-station-item .charging-station-content {
  width: 20%;
  position: absolute;
  top: 48px;
  left: 30px;
}

.charging-station-item .charging-station-content .puplic-charging-station,
.charging-station-item .charging-station-content .home-charging-station {
  background-color: #ffffff;
  color: #3c3c3c;
  padding: 16px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.charging-station-item .charging-station-content .puplic-charging-station h4,
.charging-station-item .charging-station-content .home-charging-station h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 30.12px;
  margin-bottom: 8px;
}

.charging-station-item .charging-station-content .puplic-charging-station p,
.charging-station-item .charging-station-content .home-charging-station p {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 16px;
}

.charging-station-item .charging-station-content .puplic-charging-station button,
.charging-station-item .charging-station-content .home-charging-station button {
  border: none;
  outline: none;
  font-size: 12px;
  line-height: 15.06px;
  letter-spacing: 1.2px;
  font-weight: 700;
  background-color: transparent;
  text-transform: uppercase;
  color: #1464f4;
}

.charging-station-item .charging-station-content .puplic-charging-station:hover,
.charging-station-item .charging-station-content .home-charging-station:hover {
  background-color: #1464f4;
  color: #ffffff;
}

.charging-station-item .charging-station-content .puplic-charging-station:hover button,
.charging-station-item .charging-station-content .home-charging-station:hover button {
  color: #ffffff;
}

.charging-station-item .charging-station-content .puplic-charging-station {
  margin-bottom: 48px;
}

.services {
  background-image: url("../img/services.png");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #3c3c3c;
  padding: 48px 0 0 30px;
}

.services .battery-deposit-content {
  margin-bottom: 72px;
  width: 25%;
}

.services button {
  border: 1px solid #1464f4 !important;
}

.tradein {
  background-image: url("../img/tradein.png");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #3c3c3c;
  padding: 48px 0 0 30px;
}

.tradein .tradein-content {
  width: 25%;
}

.tradein .tradein-content .title {
  font-weight: 300;
  font-size: 48px;
  line-height: 60.24px;
  letter-spacing: -0.96px;
  color: #3c3c3c;
  margin-bottom: 16px;
}

.tradein .tradein-content .subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #3c3c3c;
}

.tradein .tradein-content .detail-btn {
  border: none;
  outline: none;
  background-color: transparent;
  font-weight: 700;
  font-size: 12px;
  line-height: 15.06px;
  letter-spacing: 1.2px;
  color: #1464f4;
  text-transform: uppercase;
  padding-left: 0;
}
@media (max-width: 767px) {
  .homeSwiper .swiper-pagination {
    display: block;
  }
}
@media (max-width: 768px) {
  .desktop-img {
    display: none;
  }
}
@media (max-width: 767px) {
  .mobile-img {
    display: block;
  }
}
@media (max-width: 1023px) {
  .banner-content .title {
    padding: 0 130px;
    font-size: 46px;
    line-height: 60px;
  }
}
@media (max-width: 767px) {
  .banner-content .title {
    font-size: 40px;
    padding: 0 30px;
    line-height: 50.2px;
    letter-spacing: -0.08px;
  }
}
@media (max-width: 1023px) {
  .banner-content a {
    padding: 14.5px 100.5px;
  }
}
@media (max-width: 767px) {
  .cars-nav {
    flex-wrap: nowrap !important;
    justify-content: space-between;
    overflow: scroll;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .cars-nav .nav-link {
    white-space: nowrap;
  }
}
@media (max-width: 767px) {
  .cars .electric-swiper .swiper-wrapper,
.cars .gasoline-swiper .swiper-wrapper {
    padding-bottom: 30px;
    justify-content: space-between;
  }
}
@media (max-width: 767px) {
  .cars .electric-swiper .swiper-horizontal > .swiper-pagination-bullets,
.cars .electric-swiper .swiper-pagination-bullets.swiper-pagination-horizontal,
.cars .gasoline-swiper .swiper-horizontal > .swiper-pagination-bullets,
.cars .gasoline-swiper .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 10px;
    display: flex;
    flex-direction: row;
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
}
@media (max-width: 767px) {
  .cars .electric-swiper .swiper-slide {
    width: initial;
  }
}
@media (max-width: 767px) {
  .cars .gasoline-swiper .swiper-slide {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (max-width: 767px) {
  .cars .tab-content #gasoline-car .car-item {
    transform: unset;
  }
}
@media (max-width: 767px) {
  .cars .tab-content .car-item img {
    width: initial;
  }
}
@media (max-width: 767px) {
  .cars .tab-content .car-item .car-item-content .car-name {
    font-size: 40px;
    line-height: 50.2px;
  }
}
@media (max-width: 767px) {
  .cars .tab-content .car-item .car-item-content .car-info {
    justify-content: space-between;
  }
}
@media (max-width: 767px) {
  .cars .tab-content .car-item .car-item-content .car-info-item h4 {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 767px) {
  .cars .tab-content .car-item .buttons {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .cars .tab-content .car-item .buttons .deposit-button {
    width: 100%;
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .cars .tab-content .car-item .buttons .detail-button {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .cars .car-item .img-360 {
    display: none;
  }
}
@media (max-width: 767px) {
  .cars .car-item:hover .static-img {
    display: block;
    visibility: visible;
    opacity: 1;
    position: relative;
  }
}
@media (max-width: 767px) {
  .cars .car-item:hover .img-360 {
    display: none;
  }
}
@media (max-width: 767px) {
  .bikes .tab-content .bike-item {
    background-color: #f7f9f9;
    padding: 0;
  }
}
@media (max-width: 767px) {
  .bikes .tab-content .bike-item .buttons {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .bikes .tab-content .bike-item .buttons .deposit-button {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .bikes .tab-content .bike-item .buttons .detail-button {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .bikes .carSwiper {
    padding-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .bikes .carSwiper .swiper-horizontal > .swiper-pagination-bullets,
.bikes .carSwiper .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 10px;
    display: flex;
    flex-direction: row;
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
}
@media (max-width: 767px) {
  .bikes .carSwiper .swiper-slide {
    width: auto;
  }
}
@media (max-width: 767px) {
  .battery-deposit img {
    height: initial;
    bottom: 0;
  }
}
@media (max-width: 767px) {
  .battery-deposit .battery-img {
    height: initial;
  }
}
@media (max-width: 767px) {
  .battery-deposit-content {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .battery-deposit-content .title {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -0.02em;
  }
}
@media (max-width: 767px) {
  .battery-deposit-content .subtitle {
    font-size: 14px;
    line-height: 21px;
    padding-right: 16px;
  }
}
@media (max-width: 767px) {
  .battery-deposit-warranty .title,
.battery-deposit .maintain-booking .title {
    line-height: 27px;
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .battery-deposit-background {
    background-size: contain;
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
@media (max-width: 767px) {
  #batteryDeposit .battery-deposit-item {
    padding-top: 0;
  }
}
@media (max-width: 767px) {
  .charging-station-item img {
    height: initial;
    bottom: 0;
  }
}
@media (max-width: 767px) {
  .charging-station-item .charging-station-content {
    width: 100%;
    left: 0;
  }
}
@media (max-width: 767px) {
  .charging-station-item .charging-station-content .home-charging-station h4 {
    font-size: 40px;
    line-height: 50.2px;
    letter-spacing: -0.08px;
  }
}
@media (max-width: 767px) {
  .charging-station-item .charging-station-content .home-charging-station p {
    font-size: 14px;
    line-height: 21px;
  }
}
@media (max-width: 767px) {
  .charging-station-background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
  }
}
@media (max-width: 767px) {
  .services .services-desktop-img {
    display: none;
  }
}
@media (max-width: 767px) {
  .services .services-mobile-img {
    display: block;
    height: 100vh !important;
  }
}
@media (max-width: 767px) {
  .services-background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
  }
}
@media (max-width: 767px) {
  .services .battery-deposit-content {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .services .services-content {
    height: 100%;
  }
}
@media (max-width: 767px) {
  .services .services-content .title {
    white-space: normal;
  }
}
@media (max-width: 767px) {
  .customer-services .desktop-img {
    display: none;
  }
}
@media (max-width: 767px) {
  .customer-services .mobile-img {
    display: block;
    position: absolute;
    bottom: 0;
    height: 100vh;
    width: 100%;
    transition: 0.4s;
  }
}
@media (max-width: 767px) {
  .customer-services .add-footer {
    bottom: 110px;
  }
}
.customer-services-background {
  display: none;
}
@media (max-width: 767px) {
  .customer-services-background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
}
@media (max-width: 767px) {
  .customer-services .customer-services-content {
    width: 100%;
    top: 0;
    left: 0;
    padding: 48px 0 0 16px;
  }
}
@media (max-width: 767px) {
  .customer-services .customer-services-content .title {
    white-space: normal;
    font-size: 40px;
    line-height: 50.2px;
    letter-spacing: -0.08px;
  }
}
@media (max-width: 767px) {
  .customer-services .customer-services-content .subtitle {
    font-size: 14px;
    line-height: 21px;
  }
}
@media (max-width: 767px) {
  .resize-card {
    width: 100% !important;
  }
}
@media (max-width: 767px) {
  .footer-fixed {
    display: none !important;
  }
}
/*# sourceMappingURL=style.css.map */